@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
}

html {
    background-image: url("../../elements/selectantigen/NormalBackground.gif");
  }
.fit { /* set relative picture size */
    max-width: 100%;
    max-height: 100%;
}
.center {
    display: block;
    margin: auto;
}
.right {
    display: flex; 
    justify-content: flex-end;
}

.background {
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: center;
    align-items: center;
    align-content: space-around;
}

.background .startbutton {
    position: absolute;
    top: 60%;
    left: 40%;
    display: block;
    margin: auto;
    border: none;
    align-items: center;
}

.geneticbuttonpicture {
    object-fit: cover;
    width: 350px;
    height: auto;
}

.nextBTN{
    object-fit: cover;
    width: 150px;
    height: auto;
}

.container{
    -webkit-text-stroke: 2px black; /* width and color */

    color: white;
}
