.eachcell {
    min-height: 100px;
    min-width: 100px;
    height: 100px;
    width: 100px;
    max-height: 100px;
    max-width: 100px;
    /* border: 0.5px solid black; */
}

.Cellcontainer {
    position: relative;
    width: 100%;
    max-width: 100%;
}
.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    /* background: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.4); Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    color: white;
    font-size: 20px;
    text-align: center;
}
.container:hover .overlay {
    opacity: 1;
}
.div {
    width: 100%;
    height: auto;
}


.has-details:hover span   {
    transform: translateY(-10%) translateX(  15%) scale(1);
  }

.font{
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    font-family:  sans-serif;
}

.details  {
    position: absolute;
    transform: translateY(0%) translateX(  -10%) scale(1);
    transition: transform 0.1s ease-in;
    transform-origin: left;
    display: inline;
    z-index: 90;
    width: 100%;
    /* border: 1px solid black; */
    /* font-family:  sans-serif; */
   
  }
  .selinfo {
    position: absolute;
    transform: translateY(0%) translateX(  -10%) scale(0);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: rgb(255, 255, 255);
    font-family:  sans-serif;
    transform-origin: left;
  }
  .Show:hover + .selinfo{
   
    transform: translateY(0%) translateX(  -10%) scale(1);
  
    
  }
 

  /* shoot animation */

  
  .spark {
    position: absolute;
    /* bottom: 0; */
    text-align: top;
    /* width: 0.1rem;
    height: 0.1rem;
    bottom: 4.3rem; */
    /* left: 4.35rem; */
    transition: transform 0.1s ease-in;
    transform-origin: center;
    top: 2.0rem;
    left: 1.0rem;
    display: inline;
    z-index: 20;
    width: 100%;
    transform: rotate(var(--spark-rotate));
    
  }
  
  .spark::after {
    content: '';
    display: inline-block;
    position: relative;
    top: 0.0rem;
    left: 0.0rem;

    width: 3.7rem;
    height: 0.7rem;
    /* border-radius: 0.1rem; */
    opacity: 0;
    background-color: rgb(223, 39, 39);
    transform-origin: bottom;
    animation: sparkler-sparkle 1.6s linear;
    /* transform: scaleY(1); */
    /* opacity: 1;  */

    animation-delay: var(--spark-delay);
  }
 
  @keyframes sparkler-sparkle {
    0%   {
      transform:
       translateX(-0.5rem)
       scaleX(0.25);
      opacity: 0;
    }
    10%   {
      transform: 
      translateX(-1rem)
       scaleX(0.5);
      opacity: 0.35;
    }
    30%   {
      transform: 
      translateX(-2rem) 
      scaleX(0.5);
      opacity: 0.7;
    }
    50% {
      transform: 
      translateX(-4rem)
       scaleX(1.5);
      opacity: 0.7;
    }
    51% {
      opacity: 0;
      transform:
       translateX(-4rem)
        scaleX(1);
    }
    100% {
      opacity: 0;
      transform: 
      translateX(0) 
      scaleX(0.25);
    }
  }

  .spawnNeon {
    z-index: 20;
    color: #fff;
    animation: spawnNeon-sparkle  1.0s linear  ;
  }
  

  @keyframes spawnNeon-sparkle {
    0%   {
      opacity: 1;
      transform: scale(0.3);
      box-shadow:
      0 0 2px #fff,
      0 0 8px #fff,
      0 0 11px #fff,
      0 0 12px #0fa,
      0 0 14px #0fa,
      0 0 16px #0fa,
      0 0 18px #0fa,
      0 0 21px #0fa;
    }
    10%   {
      opacity: 1;
      transform:  scaleX(0);
      box-shadow:
      0 0 2px #fff,
      0 0 8px #fff,
      0 0 11px #fff,
      0 0 12px #0fa,
      0 0 14px #0fa,
      0 0 16px #0fa,
      0 0 18px #0fa,
      0 0 21px #0fa;
    }
    30%   {
      opacity: 1;
      transform:  scaleX(1);
      box-shadow:
      0 0 2px #fff,
      0 0 8px #fff,
      0 0 11px #fff,
      0 0 12px #0fa,
      0 0 14px #0fa,
      0 0 16px #0fa,
      0 0 18px #0fa,
      0 0 21px #0fa;
    }
 
 
    100% {
      opacity: 1;
      transform:  scaleX(1);
      box-shadow: 0 0 0px #fff,
    }
  }


  .infectNeon {
    z-index: 20;
    color: #fff;
    box-shadow:
    0 0 2px #fff,
    0 0 8px #fff,
    0 0 11px #fff,
    0 0 12px rgb(207, 134, 24),
    0 0 14px rgb(207, 134, 24),
    0 0 16px rgb(204, 119, 8);
 
  }
   

  .hpNeon {
    z-index: 20;
    color: #fff;
    animation: hpNeon-sparkle  1.3s linear  ;
 
  }

  
  @keyframes hpNeon-sparkle {
    0%   {
      opacity: 1;
      transform:  scaleX(1);
      box-shadow:
      0 0 2px #fff,
      0 0 8px #fff,
      0 0 11px #fff,
      0 0 12px rgb(255, 0, 0),
      0 0 14px rgb(238, 1, 1),
      0 0 16px rgb(255, 8, 0);
    }
    80%   {
      opacity: 1;
      transform:  scaleX(1);
      box-shadow:
      0 0 2px #fff,
      0 0 8px #fff,
      0 0 11px #fff,
      0 0 12px rgb(255, 0, 0),
      0 0 14px rgb(238, 1, 1),
      0 0 16px rgb(255, 8, 0);
    }
    100% {
      opacity: 1;
      transform:  scaleX(1);
      box-shadow:
      0 0 2px #fff;
    }
  }
   
   