.SelectEntity {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.panelEntity {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coin {
    margin-top: 2%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.coinpanel{
    background-image: url(../assets/coinbar.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  
}

.cointext{
    height:100%;
}

.selectIcon{
    height:100px
}

.iconContainer{
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
}

.bgiconCentered{
    position: relative;
    top: 0;
    left: 0;
}

.iconCentered{
    position: absolute;
    top: 0px;
    left: 0px;
}

.textCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }