 

.GameLoop{
  overflow: hidden;
}
.menubar{
  background-image: url("./assets/NavBar.png");
  background-size: contain;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-items: center;
}


.gameColor{
  background-color:#FFD7D7;
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.trophyEnd {
  border: none;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gameOverIcon {
  width: 70px;
  border: none;
  justify-content: center;
}

.endbtncontainer{
  justify-content: center
}

.endcenter{
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}