 

.GameLoop{
  overflow: hidden;
}
.menubar{
  background-image: url("./assets/NavBar.png");
  background-size: contain;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-items: center;
}


.gameColor{
  background-color:#FFD7D7;
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}