@tailwind base;
@tailwind components;
@tailwind utilities;

  .backgroundResult{
    background-image: url("../../elements/result/ResultBG.gif");
  }

  .resultbackground {
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: center;
    align-items: center;
    align-content: space-around;
}
.trophy {
  border: none;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.textborder-pink{
  text-align: center;
  -webkit-text-stroke: 3px pink; /* width and color */
  color: #991b1b;

}

.center {
  text-align: center;
}