.selectModeSize{
    width: 600px;
}

.parent{
    background-color: #afce86;
    display: flex;
    min-height: 100vh;
  }

.child{
  margin: auto;
}

.gameSetupBorder{
  -webkit-text-stroke: 2px #2d3e14; /* width and color */

  color: #7eaf3b;
}

.editbtn{
  background-color: #4CAF50;
}

.editbtn:hover {
  background-color: #2d3e14;
}
